*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* sets root font size. Want 10px base so 10/16 =.625 or 62.5% */
html {
  //This defines what 1rem is
  font-size: 62.5%; //1rem = 10px

  @include respond(tab-land) {//width < 1200?
    font-size: 56.25%; //want 1rem to be 9px 9/16 = 56.25
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; //example, want 1rem = 8px 8/16 = 50% of origianl 16px
  }

  

  @include respond(big-desktop) {
    font-size: 75%; //1 rem =12px  12/16 = 75
  }
}



body {
  box-sizing: border-box;
}

