*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* sets root font size. Want 10px base so 10/16 =.625 or 62.5% */
html {
  //This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
